@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #eaeaea;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.navbar {
  margin-right: 2rem;
}

.main {
  width: 100%;
  margin-top: 2.4rem;
}

.main h1 {
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 0;
  color: rgb(97, 96, 96);
}

.main span {
  color: rgb(56, 53, 53);
}

.main .separator {
  border-bottom: 0.5px solid rgb(207, 203, 203);
  width: 100%;
}

.recentSection {
  width: 100%;
  margin-top: 2.5rem;
}

.recentSection h2 {
  color: #2f3539;
}

.card {
  width: 15rem;
  display: flex;
  margin-top: 1.6rem;
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
}

.card .logo {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #2c3135;
}

.card .logo p {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.cardContent {
  margin-left: 1.5rem;
  margin-top: -0.3rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 10rem;
  margin-bottom: 5px;
}

.cardContent span {
  font-size: 0.9rem;
  font-weight: 900;
}

.user {
  width: 28px;
  height: 28px;
  margin-top: 0.4rem;
  margin-right: 0.3rem;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.user p {
  color: white;
  font-size: 0.7rem;
  font-weight: 900;
}

.prioritySection {
  width: 100%;
  margin-top: 2.5rem;
}

.pCard {
  width: 18rem;
  height: 12rem;
  margin-top: 1.6rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #231cdc;
  color: white;
}

/* #fff700
  #ff8000
*/

.pCard h2 {
  color: #2f3539;
}

.pCard .pTitle {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.pCard .pDescription {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.formContainer {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
}

.btn {
  width: 6rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: transparent;
  border: 3px solid #2f3539;
}

.btn:hover {
  background-color: #2f3539;
  color: white;
}

.viewProjectContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: white;
  border-radius: 1.8rem;
}

.invite {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(61, 60, 60);
  margin-right: 5px;
}

.inviteCount {
  background-color: rgb(200, 196, 196);
  border-radius: 10px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inviteCount p {
  font-size: 13px;
  font-weight: 500;
  color: #525252;
}
