@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #eaeaea;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.navbar {
  margin-right: 2rem;
}

.main {
  width: 100%;
}

.main h1 {
  margin-top: 2.4rem;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 0;
  color: rgb(97, 96, 96);
}

.main span {
  color: rgb(56, 53, 53);
}

.main .separator {
  border-bottom: 0.5px solid rgb(207, 203, 203);
  width: 100%;
}
