.task-container {
  width: 20rem;
  height: 8rem;
  background-color: white;
  border-radius: 11px;
  margin-top: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.task-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
}

.task-description {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.task-btn {
  font-size: 0.9rem;
  font-weight: 500;
  width: 4rem;
  height: 2rem;
  margin-bottom: 0;
  background-color: #21da28;
  color: white;
  border-radius: 5px;
}
